*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    height: 100%;
}

.wrapper {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    padding-top: 1.25em;
}

.header .header-top {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1.5em;
}

.header .header-top .first-header-top {
    display: flex;
    align-items: end;
    gap: 1em;
    text-decoration: none;
}

.header .header-top .first-header-top p {
    color: #131839;
    font-family: 'Nunito', sans-serif;
    font-size: 2.125rem;
    font-weight: 700;
    transition: all 0.3s linear;
}

.header .header-top .first-header-top:hover p {
    color: #FF6138;
}

.header .header-top .second-header-top {
    display: flex;
    gap: 1.5em;
    align-items: center;
    flex-direction: column;
}

.header .header-top .top-section {
    display: flex;
    gap: 1.375em;
}

.header .header-top .top-section.vertical-line {
    display: none;
}

.header .header-top .top-section .text-container p:first-child {
    color: #555;
    font-weight: 600;
    text-transform: uppercase;
}

.header .header-top .top-section .text-container p:last-child {
    color: #000;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.header .wrapper .third-header-top a {
    color: #000;
}

.header .wrapper .third-header-top {
    display: flex;
    gap: 10px;
}

.header .wrapper .third-header-top a i {
    background-color: #F2F2F4;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s ease;
}

.header .wrapper .third-header-top a i:hover {
    background: #FF6138;
    color: #fff;
}

.header .header-bottom .mobile-menubar .logo-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: #F2F2F4;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
}

.header .header-bottom .mobile-menubar .menu-options {
    background: #F2F2F4;
    position: absolute;
    top: 0;
    left: -100%;
    /* left: 0; */
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .header-bottom .mobile-menubar .menu-options ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.header .header-bottom .mobile-menubar .menu-options ul li {
    margin-bottom: 0.3em;
}

.header .header-bottom .mobile-menubar .menu-options ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.header .header-bottom .mobile-menubar .menu-options ul li:first-child {
    position: absolute;
    right: 5vw;
    top: 5vh;
}

.header .header-bottom .mobile-menubar .menu-options ul li.second-child {
    margin-top: 25vh;
}

/* last button code */
.header .header-bottom .mobile-menubar .menu-options>a {
    display: flex;
    gap: 1.25em;
    padding: 1.3em 1.875em;
    text-decoration: none;
    color: #131839;
    font-size: 1.5rem;
    width: max-content;
    text-decoration: none;
    color: #fff;
    background-color: #FF6138;
    transition: all 0.5s linear;
}

.header .header-bottom .mobile-menubar .menu-options>a:hover {
    background-color: #fd3908;
}


/* last button code */

.header .header-bottom .desktop-menubar {
    display: none;
}

/* hero */
.hero {
    background: url("./../images/new l.png");
    height: 100vh;
    max-height: 939px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover cover;
}

.hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 4.5em;
    text-align: center;
}

.hero .text-container p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.hero .text-container h1 {
    color: #FFF;
    font-size: 6.313rem;
    font-weight: 700;
    line-height: 94px;
    white-space: pre-line;
    text-transform: uppercase;
}

.hero .btn-container {
    display: flex;
    gap: 1.563em;
}

.hero .btn-container .discover {
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    text-decoration: none;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0.0em 1.875em;
    background-color: #FF6138;
    align-items: center;
    transition: all 0.5s linear;
}

.hero .btn-container .discover:hover {
    background: #fd3908;
}

.hero .btn-container .contact {
    text-decoration: none;
    display: flex;
}

.hero .btn-container .contact .orange-volor {
    width: 6px;
    background: #FF6138;
}

.hero .btn-container .contact .contac-us {
    display: flex;
    padding: 1em 1.875em 1em 1.6em;
    background: #fff;
    gap: 1em;
    align-items: center;
    transition: all 0.5s linear;
}

.hero .btn-container .contact .contac-us:hover {
    background: #ddddf5;
}

.hero .btn-container .contact .contac-us p {
    color: #131839;
    line-height: 30px;
    text-transform: uppercase;
}

/* hero end */

/* service  */

.service {
    padding: 0px 0 100px 0;
}

.service .service-card-container {
    display: grid;
    grid-template-columns: 1fr;
    /* row-gap: 60px; */
}

.service .service-card-container>div {
    border-bottom: 1px solid rgba(19, 24, 57, 0.15);
    padding: 100px 0;
}

.service .service-card-container>div:last-child {
    border-bottom: none;
}


.service .first-service .about-us {
    color: #FF6138;
    /* text-align: center; */
    font-size: 1.125rem;
    line-height: 30px;
    text-transform: uppercase;
}

.service .first-service h2 {
    color: #131839;
    font-size: 2.813rem;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 42px;
}

.service .first-service button {
    width: 165px;
    height: 54px;
    background: #FF6138;
    border: none;
    cursor: pointer;
    transition: all 0.5s linear;
}

.service .first-service button:hover {
    background: #fd3908;
}

.service .service-card h4 {
    color: #131839;
    font-size: 1.5rem;
    line-height: 35px;
    text-transform: uppercase;
}

.service .service-card p {
    color: #131839;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 28px;
}

.service .service-card>div {
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.service .service-card a {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s linear;
}

.service .service-card a:hover {
    color: #FF6138;
}


.service .horizontal-line {
    height: 1px;
    background-color: rgba(19, 24, 57, 0.15);
    ;
}

/* service end */

/* case-study */
.case-study {
    padding-top: 10px;
    padding-bottom: 80px;
}

.case-study .top-section {
    text-align: center;
}

.case-study .top-section p {
    color: #FF6138;
    font-size: 1.125rem;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.case-study .top-section h2 {
    color: #131839;
    font-size: 2.813rem;
    line-height: 45px;
    text-transform: uppercase;
}

.case-study .top-section .category-container {
    margin: 50px 0 35px 0;
}

.case-study .top-section .category-container ul {
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: max-content;
    justify-content: center;
}

.case-study .top-section .category-container ul li {
    padding: 12px 22px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    color: #565872;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

}

.case-study .bottom-sectoion {
    display: grid;
    row-gap: 20px;
    transition: all 0.5s linear;
}

.case-study .bottom-sectoion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.case-study .top-section .category-container ul li.case-study-menu {
    background: #0B0840;
    color: #FFFFFF;
}


/* case-study end */

/* faq */
.faq {
    background: #F2F2F4;
    position: relative;
    padding-top: 76px;
    /* min-height: 100vh; */
}

.faq .left-container .top-left .heading-container {
    /* background-color: #555; */
    text-align: center;
}

.faq .left-container .top-left .heading-container p {
    color: #FF6138;
    font-size: 1.125rem;
    line-height: 30px;
    text-transform: uppercase;
}

.faq .left-container .top-left .heading-container h2 {
    color: #131839;
    font-size: 2.813rem;
    line-height: 45px;
    text-transform: uppercase;
    white-space: pre-line;
    margin-bottom: 1em;
}

.faq .left-container .top-left .accordion-container .signle-choice {
    margin-bottom: 2.8em;
}

.faq .left-container .top-left .accordion-container .vcollapse-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1em 1.1em 1em 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.faq .left-container .top-left .accordion-container .vcollapse-toggle p {
    color: #131839;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
}

.faq .left-container .top-left .accordion-container .vcollapse-content p {
    color: rgba(85, 85, 85, 0.80);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 30px;
}

.cc-open {
    color: #FF6138;
}

.appear {
    display: none;
}

.faq .left-container .bottom-left {
    background: #131839;
}

.faq .left-container .bottom-left .wrapper {
    display: flex;
    padding: 55px 0 35px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.faq .left-container .bottom-left .stat {
    display: flex;
    align-items: center;
    gap: 15px;
}

.faq .left-container .bottom-left .stat:last-child {
    transform: translateX(10px);
}

.faq .left-container .bottom-left .stat h2 {
    color: #FF6138;
    font-size: 4rem;
    line-height: 30px;
}

.faq .left-container .bottom-left .stat .border-left {
    width: 2px;
    height: 36px;
    background: #FFF;
}

.faq .left-container .bottom-left .stat p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    white-space: pre-line;
}

.faq .right-img-container img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


/* faq end */

@media (min-width: 568px) {

    .header .header-top .second-header-top {
        gap: 2.5em;
        flex-direction: row;
    }

    .header .header-top .top-section.vertical-line {
        display: inline-block;
        width: 1px;
        height: 25px;
        background: rgba(19, 24, 57, 0.19);
    }
}

@media (min-width: 650px) {
    .case-study .top-section .category-container ul {
        grid-template-columns: max-content max-content;
    }

    .case-study .bottom-sectoion {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

}

@media (min-width: 719px) {

    .faq .left-container .top-left .heading-container {
        text-align: start;
    }

    .faq .accordion-container {
        width: 70%;
        padding-right: 40px;
    }

    .faq .left-container .bottom-left .wrapper {
        padding-right: 250px;
    }

    .faq .right-img-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 30%;
    }

    .faq .right-img-container img {
        height: 100%;
        width: 100%;
    }

    .case-study .top-section .category-container ul {
        grid-template-columns: max-content max-content max-content max-content;
    }
}

@media (min-width: 750px) {
    .service .service-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0px;
    }

    .service .service-card-container .service-card.our-mission {
        padding-right: 25px;
    }

    .service .service-card-container .service-card.our-vision {
        padding-left: 25px;
    }

    .service .service-card-container .first-service {
        grid-column: span 2;
    }

    .service .service-card-container .our-mission {
        border-bottom: none;
        border-right: 1px solid rgba(19, 24, 57, 0.15);
    }


}

@media (min-width: 864px) {

    .header .header-top {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5em;
    }

    .header .header-top .first-header-top {
        grid-column: span 3;
    }

    .header .header-top .second-header-top {
        grid-column: span 2;
    }

    .header .wrapper .third-header-top {
        justify-self: self-start;
    }

    .header .horizontal-line {
        height: 1px;
        background: rgba(19, 24, 57, 0.08);
        margin-top: 1.25em;
    }

    .header .header-bottom .mobile-menubar {
        display: none;
    }

    .header .header-bottom .desktop-menubar {
        display: inline-block;
        width: 100%;
    }

    .header .header-bottom .desktop-menubar .desktop-menu-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-bottom .desktop-menubar ul {
        list-style: none;
        display: flex;
        gap: 1.875em;
    }

    /* .header .header-bottom .desktop-menubar ul li {} */

    .header .header-bottom .desktop-menubar ul li a {
        text-decoration: none;
        color: #131839;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        transition: all 0.5s linear;
    }

    .header .header-bottom .desktop-menubar ul li a:hover {
        color: #FF6138;
    }

    /* last button code */
    .header .header-bottom .desktop-menubar .desktop-menu-options>a {
        background-color: #FF6138;
        display: flex;
        gap: 1.25em;
        padding: 1.3em 1.875em;
        text-decoration: none;
        color: #131839;
        transition: all 0.5s linear;
    }

    .header .header-bottom .desktop-menubar .desktop-menu-options>a:hover {
        background-color: #fd3908;
    }

    .header .header-bottom .desktop-menubar .desktop-menu-options>a {
        text-decoration: none;
        color: #fff;
    }

    /* last button code */



    .case-study .bottom-sectoion {
        grid-template-columns: 1fr 1fr 1fr;
        height: 440px;
        grid-auto-rows: 210px;
    }
}

@media (min-width: 1000px) {
    .service .service-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 60px;
    }

    .service .service-card-container .first-service {
        grid-column: span 1;
        border-right: 1px solid rgba(19, 24, 57, 0.15);
        padding-right: 25px;
    }

    .service .service-card-container .our-mission {
        padding-left: 25px;
    }

    .service .service-card-container .our-vision {
        padding-right: 25px;
    }

    .service .service-card-container>div {
        border-bottom: none;
    }

    .faq .left-container .bottom-left .wrapper {
        padding-right: 350px;
    }

}

@media (min-width: 1048px) {
    .faq .left-container .bottom-left .wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 29%;
    }
}

@media (min-width: 1250px) {

    .header .header-top {
        grid-template-columns: 4fr 6fr 2fr;
        column-gap: 0;
    }

    .header .header-top .first-header-top {
        grid-column: span 1;
        justify-self: start;
    }

    .header .header-top .second-header-top {
        grid-column: span 1;
        justify-self: start;
    }

    .case-study .bottom-sectoion {
        height: 560px;
        grid-auto-rows: 270px;
    }
}

@media (min-width: 1357px) {

    .header .header-top .second-header-top {
        grid-column: span 1;
        justify-self: center;
    }

    .faq .left-container .bottom-left .wrapper {
        padding-right: 35%;
    }
}

@media (min-width: 1700px) {
    .case-study .bottom-sectoion {
        height: 650px;
        grid-auto-rows: 315px;
    }

    .faq .left-container .bottom-left .wrapper {
        padding-right: 25%;
    }

}

@media (min-width: 1920px) {

    .faq {
        max-width: 1920px;
        margin: 0 auto;
    }

    .faq .left-container .bottom-left .wrapper {
        padding-right: 20%;
    }
}